*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(36, 35, 35);
    display:flex;
    align-items: center;
    justify-content: center;
    
}
.container{
    height:80vh;
    width:30vw;
    margin-top:5rem;
    box-shadow:2px 2px 10px rgb(0, 0, 0),2px 2px 10px rgb(0, 0, 0) inset;
    border-radius: 7px;

}
.display{
    height:18vh;
    margin:3px;
    color:white;
    display:flex; 
    align-items:center;
    justify-content:flex-end;
    text-align: right;
    font-size:1.8rem;
    box-shadow: 0px 0px 4px gray;

}
.calc-box{
    height:55vh;
    margin-top:1.8rem;
}
.digit-box{
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap:2rem;
    margin:1rem;
}
.digit{
    padding:1rem;
    font-size: 1.8rem;
    width:70px;
    background-color: rgb(41, 40, 40);
    color:white;
    border-radius:50%;
    box-shadow: 0px 0px 1px white;;
}
.fontcolor{
    color:aquamarine;
}